/* Google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,800;0,900;1,100;1,200;1,700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #272722;
    background-color: #fff;
}

/* Styling anchor element */
a {
    color: inherit;
    text-decoration: underline 1px solid #60a0e4;
}
  
a:hover {
    color: #ff4500;
    text-decoration: underline;
    text-decoration-color: #60a0e4;
}
/* Customising Bootstrap Navbar */
.navbar {
    color: #60a0e4;
    background-color: white;
}
  
.navbar a {
    color: #60a0e4;
    font-weight: 500;
    text-decoration: none;
}
  
.navbar a:focus {
    color: #272722;
    background-color: #60a0e4;
}
  
.navbar-toggler {
    background-color: #60a0e4;
    font-size: medium;
}
  
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
  
.navbar-nav li {
    display: inline-block;
}
  
.navbar-nav li:hover {
    background-color: #60a0e4;
}

/* Styling Call-To-Action button used in the Carousel caption and "offer" section. */
.button-cta {
    position: relative;
    top: 50%;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    color: #272722;
    background-color: #60a0e4;
    border: 1px solid #60a0e4;
    margin: 10px 10px;
    padding: 10px 10px;
}
  
.button-cta:hover {
    background-color: #60a0e4;
    border: 1px solid #29507b;
}

/* 3 ID's for carousel cover images and it's caption */
#cover-photo1 {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1632823469850-2f77dd9c7f93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
      center / cover;
}
  
#cover-photo2 {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1610647752706-3bb12232b3ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80)
      center / cover;
}
  
#cover-photo3 {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1632823469901-5d2cfff5ba50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)
      center / cover;
}
  
.caption {
    width: 100vw;
    height: 100vh;
    color: #d5d5d4;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.caption h1 {
    position: relative;
    top: 50%;
    font-size: 4em;
    font-weight: 400;
}
  
.caption p {
    position: relative;
    top: 50%;
    font-size: 2em;
    font-weight: 700;
    width: 50%;
    color: #d5d5d4;
}

/* Styling containers, removing margins - to override margins for bootstrap containers*/
.container-fluid {
    padding: 0;
    height: 400px;
}
  
.center {
    text-align: center;
}

.center-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
  
.left {
    text-align: left;
}
  
.justify {
    text-align: justify;
}
  
#offer #about .container {
    border-radius: 2%;
    padding: 0 50px;
}
  
.accordion-header button {
    color: #272722;
    background-color: #d6edf7;
    font-weight: 500;
    width: 100%;
}
  
.accordion-item {
    background-color: #d6edf7;
}
  
.accordion-body {
    background: #d6edf7;
    color: #333;
    text-align: left;
    margin: 20px;
}

/* Styling Gallery section and image grid based on "Responsive Image Grid" tutorial from w3schools.com */
.gallery-row {
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}
  
.gallery-column {
    flex: 25%;
    max-width: 20%;
    padding: 0;
}
  
.gallery-column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
}
  
.gallery-row img:hover {
    opacity: 0.8;
}

/* Styling iframe element for Google Map */
iframe {
    width: 100%;
    height: 15em;
    display: block;
}

/* Styling YouTube embeded video */
.youtube {
    height: 30em;
    display: block;
}

/* Styling Booking section elements */
.booking {
    margin: 1em auto 1em auto;
    width: 40%;
    padding: 1em;
    background-color: #d6edf7;
    border-radius: 1em;
}
  
.booking input:hover {
    border: 1px solid #60a0e4;
}
  
.submit {
    width: 100%;
    color: #272722;
    background-color: #fff;
    border: 1px solid #60a0e4;
    border-radius: 0.5em;
    padding: 5px;
}
  
.submit:hover {
    background-color: #60a0e4;
    color: #272722;
}

/* Styling Footer section / social media icons / Font-Awesome icons */
.footer {
    color: #7a6d5b;
}
  
.icons-header {
    font-size: 0.75em;
    padding: 0 0.25em;
  }
  
.icons-social {
    font-size: 1.5em;
}
  
.icons-social i {
    font-size: 1.5em;
    padding: 5px;
}
  
.icons-social i:hover {
    color: #60a0e4;
}
  
.icons-reasons {
    color: #60a0e4;
}
  
.copyright {
    text-align: center;
    font-size: medium;
    padding: 0;
    margin: 0;
}
  
.footer a {
    text-decoration: none;
}
  
footer a:hover {
    color: #60a0e4;
    text-decoration: underline;
}

/* Stylink "thankyou" and "404" pages */
.thankyou-caption {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: url("https://images.pexels.com/photos/11186589/pexels-photo-11186589.jpeg")
      center / cover;
}

.error-caption {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: url("https://images.pexels.com/photos/11653455/pexels-photo-11653455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
      center / cover;
}
  
.thankyou-caption h1 {
    position: relative;
    top: 20%;
    font-size: 2em;
    font-weight: 900;
    background-color: #c5dbf3;
}
  
.thankyou-caption p {
    position: relative;
    top: 20%;
    margin: auto;
    color: #accff4;
    font-size: 1em;
    font-weight: 700;
}
  
.error-caption h1 {
    position: relative;
    top: 20%;
    font-size: 2em;
    font-weight: 900;
    background-color: #60a0e4;
}
  
.error-caption p {
    position: relative;
    top: 20%;
    margin: auto;
    color: #60a0e4;
    background-color: #333;
    font-size: 1em;
    font-weight: 700;
}

/* Media queries - responsiveness */

/* X-small devices, phones in portrait mode 576px*/
@media only screen and (max-width: 576px) {
    body {
      font-size: 1em;
    }
  
    p {
      padding: 10px;
      text-align: center;
    }
  
    .accordion-item p {
      text-align: center;
    }

    .booking {
      margin: auto;
      width: 100%;
      background-color: #d6edf7;
      border-radius: 1em;
    }
  
    .row {
      width: 100%;
    }
  
    .col {
      display: block;
      width: 100%;
    }
  
    #gallery #offer #about .container {
      border-radius: 0;
      padding: 50px;
    }
  
    #cover-photo1 {
      height: 50vh;
      background: url(https://images.unsplash.com/photo-1632823469850-2f77dd9c7f93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) center / cover;
    }
  
    #cover-photo2 {
      height: 50vh;
      background: url(https://images.unsplash.com/photo-1610647752706-3bb12232b3ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80) center / cover;
    }
  
    #cover-photo3 {
      height: 50vh;
      background: url(https://images.unsplash.com/photo-1632823469901-5d2cfff5ba50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) center / cover;
    }
  
    .caption {
      width: 100vw;
      height: 50vh;
      color: #fff;
      text-align: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
  
    .caption h1 {
      top: 30%;
      text-align: center;
      font-size: 2em;
      font-weight: 600;
    }
  
    .button-cta {
      position: relative;
      top: 70%;
      font-size: 1em;
    }
  
    .caption button,
    .caption p {
      display: none;
    }
  
    .thankyou-caption h1 {
      font-size: 2em;
    }
  
    .thankyou-caption p {
      font-size: 1em;
    }
  
    #gallery img,
    #offer img {
      max-width: 100vw;
      height: auto;
    }
  
    .footer div,
    p {
      display: block;
      text-align: center;
    }
  
    .gallery-row {
      width: 100%;
    }
  
    .gallery-column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
  /* Gallery images are "viewport width" up to 600px */
@media screen and (max-width: 600px) {
    .gallery-row {
      width: 100%;
    }
  
    .gallery-column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  
    #gallery img {
      width: 100%;
    }
}
  
  /* Tablets, up to 768px */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    body {
      font-size: 1em;
    }
  
    p {
      padding: 10px;
      text-align: left;
    }
  
    .thankyou-caption h1 {
      font-size: 2em;
    }
  
    .thankyou-caption p {
      font-size: 1em;
    }
  
    .accordion-item p {
      text-align: left;
    }
  
    .booking {
      margin: auto;
      width: 100%;
      background-color: #d6edf7;
      border-radius: 1em;
      box-shadow: none;
    }
  
    .row {
      width: 100%;
    }
  
    .col {
      display: block;
      width: 100%;
    }
  
    /* Smaller carousel cover images for mobile use*/
    #cover-photo1 {
      height: 60vh;
      background: url(https://images.unsplash.com/photo-1632823469850-2f77dd9c7f93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) center / cover;
    }
  
    #cover-photo2 {
      height: 60vh;
      background: url(https://images.unsplash.com/photo-1610647752706-3bb12232b3ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80) center / cover;
    }
  
    #cover-photo3 {
      height: 60vh;
      background: url(https://images.unsplash.com/photo-1632823469901-5d2cfff5ba50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) center / cover;
    }
  
    .caption {
      width: 100vw;
      height: 60vh;
      color: #fff;
      text-align: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    .caption h1 {
      top: 40%;
      text-align: center;
      font-size: 3em;
      font-weight: 400;
    }
  
    .caption button {
      display: none;
    }
  
    .caption p {
      display: none;
    }
  
    .footer div,
    p {
      display: block;
      text-align: center;
    }
}
  
  /* Medium devices (tablets, bigger than 768 px but less than 992px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    p {
      padding: 10px;
      text-align: left;
    }
  
    .thankyou-caption h1 {
      font-size: 2em;
    }
  
    .thankyou-caption p {
      font-size: 1em;
    }
  
    .accordion-item p {
      text-align: left;
    }
  
    .booking {
      margin: 1em auto 1em auto;
      width: 100%;
      padding: 1em;
      background-color: #d6edf7;
      border-radius: 1em;
    }
  
    .caption {
      width: 100vw;
      height: 60vh;
      color: #ffffff;
      text-align: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
    */ .caption h1 {
      top: 40%;
      text-align: center;
      font-size: 2em;
      font-weight: 600;
    }
  
    .caption p {
      font-size: 1em;
    }
  
    #carousel button {
      top: 60%;
    }
  
    .footer div,
    p {
      display: block;
      text-align: center;
    }
}
  
  /* Large devices (laptops, desktops, less than 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .caption {
      width: 100vw;
      height: 100vh;
      color: #fff;
      text-align: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
  
    .caption h1 {
      top: 40%;
      text-align: center;
      font-size: 2.5em;
      font-weight: 400;
    }
  
    .caption p {
      font-size: 1.5em;
    }
  
    .caption button {
      position: relative;
      top: 70%;
    }
}