/* Google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,800;0,900;1,100;1,200;1,700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #272722;
    background-color: #fff;
}

/* Styling anchor element */
a {
    color: inherit;
    text-decoration: underline 1px solid #60a0e4;
}
  
a:hover {
    color: #ff4500;
    text-decoration: underline;
    text-decoration-color: #60a0e4;
}
/* Customising Bootstrap Navbar */
.navbar {
    color: #60a0e4;
    background-color: #333;
}
  
.navbar a {
    color: #60a0e4;
    font-weight: 500;
    text-decoration: none;
}
  
.navbar a:focus {
    color: #272722;
    background-color: #60a0e4;
}
  
.navbar-toggler {
    background-color: #60a0e4;
    font-size: medium;
}
  
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
  
.navbar-nav li {
    display: inline-block;
}
  
.navbar-nav li:hover {
    background-color: #60a0e4;
}

/* Styling Call-To-Action button used in the Carousel caption and "offer" section. */
.button-cta {
    position: relative;
    top: 50%;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    color: #272722;
    background-color: #60a0e4;
    border: 1px solid #60a0e4;
    margin: 10px 10px;
    padding: 10px 10px;
}
  
.button-cta:hover {
    background-color: #60a0e4;
    border: 1px solid #29507b;
}

/* 3 ID's for carousel cover images and it's caption */
#cover-photo1 {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1632823469850-2f77dd9c7f93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
      center / cover;
}
  
#cover-photo2 {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1610647752706-3bb12232b3ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80)
      center / cover;
}
  
#cover-photo3 {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1632823469901-5d2cfff5ba50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)
      center / cover;
}
  
.caption {
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
  
.caption h1 {
    position: relative;
    top: 50%;
    font-size: 4em;
    font-weight: 900;
}
  
.caption p {
    position: relative;
    top: 50%;
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
}

/* Styling containers, removing margins - to override margins for bootstrap containers*/
.container-fluid {
    padding: 0;
}
  
.center {
    text-align: center;
}
  
.left {
    text-align: left;
}
  
.justify {
    text-align: justify;
}
  
#offer .container {
    border-radius: 2%;
    box-shadow: 10px 10px 5px #d0d2d6;
    padding: 0 50px;
}
  
.accordion-header button {
    color: #272722;
    background-color: #d6edf7;
    font-weight: 500;
    width: 100%;
}
  
.accordion-item {
    background-color: #d6edf7;
}
  
.accordion-body {
    background: #d6edf7;
    color: #333;
    text-align: left;
    margin: 20px;
}

/* Styling Gallery section and image grid based on "Responsive Image Grid" tutorial from w3schools.com */
.gallery-row {
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}
  
.gallery-column {
    flex: 25%;
    max-width: 20%;
    padding: 0;
}
  
.gallery-column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
}
  
.gallery-row img:hover {
    opacity: 0.8;
}

/* Styling iframe element for Google Map */
iframe {
    width: 100%;
    height: 15em;
    display: block;
}

/* Styling YouTube embeded video */
.youtube {
    height: 30em;
    display: block;
}

/* Styling Booking section elements */
.booking {
    margin: 1em auto 1em auto;
    width: 40%;
    padding: 1em;
    background-color: #d6edf7;
    border-radius: 1em;
    box-shadow: 10px 10px 5px #d0d2d6;
}
  
.booking input:hover {
    border: 1px solid #60a0e4;
}
  
.submit {
    width: 100%;
    color: #272722;
    background-color: #fff;
    border: 1px solid #60a0e4;
    border-radius: 0.5em;
    padding: 5px;
}
  
.submit:hover {
    background-color: #60a0e4;
    color: #272722;
}

/* Styling Footer section / social media icons / Font-Awesome icons */
.footer {
    color: #7a6d5b;
}
  
.icons-header {
    font-size: 0.75em;
    padding: 0 0.25em;
  }
  
.icons-social {
    font-size: 1.5em;
}
  
.icons-social i {
    font-size: 1.5em;
    padding: 5px;
}
  
.icons-social i:hover {
    color: #60a0e4;
}
  
.icons-reasons {
    color: #60a0e4;
}
  
.copyright {
    text-align: center;
    font-size: medium;
    padding: 0;
    margin: 0;
}
  
.footer a {
    text-decoration: none;
}
  
footer a:hover {
    color: #60a0e4;
    text-decoration: underline;
}

/* Stylink "thankyou" and "404" pages */
.thankyou-caption {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: url("https://images.pexels.com/photos/11186589/pexels-photo-11186589.jpeg")
      center / cover;
}

.error-caption {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: url("https://images.pexels.com/photos/11653455/pexels-photo-11653455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
      center / cover;
}
  
.thankyou-caption h1 {
    position: relative;
    top: 20%;
    font-size: 2em;
    font-weight: 900;
    background-color: #c5dbf3;
}
  
.thankyou-caption p {
    position: relative;
    top: 20%;
    margin: auto;
    color: #accff4;
    /* background-color: #333; */
    font-size: 1em;
    font-weight: 700;
}
  
.error-caption h1 {
    position: relative;
    top: 20%;
    font-size: 2em;
    font-weight: 900;
    background-color: #60a0e4;
}
  
.error-caption p {
    position: relative;
    top: 20%;
    margin: auto;
    color: #60a0e4;
    background-color: #333;
    font-size: 1em;
    font-weight: 700;
}