/* Google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,800;0,900;1,100;1,200;1,700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #272722;
    background-color: #fff;
}

/* Styling anchor element */
a {
    color: inherit;
    text-decoration: underline 1px solid #60a0e4;
}
  
a:hover {
    color: #ff4500;
    text-decoration: underline;
    text-decoration-color: #60a0e4;
}
/* Customising Bootstrap Navbar */
.navbar {
    color: #60a0e4;
    background-color: #333;
}
  
.navbar a {
    color: #60a0e4;
    font-weight: 500;
    text-decoration: none;
}
  
.navbar a:focus {
    color: #272722;
    background-color: #60a0e4;
}
  
.navbar-toggler {
    background-color: #60a0e4;
    font-size: medium;
}
  
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
  
.navbar-nav li {
    display: inline-block;
}
  
.navbar-nav li:hover {
    background-color: #60a0e4;
}

/* Styling Call-To-Action button used in the Carousel caption and "offer" section. */
.button-cta {
    position: relative;
    top: 50%;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    color: #272722;
    background-color: #60a0e4;
    border: 1px solid #60a0e4;
    margin: 10px 10px;
    padding: 10px 10px;
}
  
.button-cta:hover {
    background-color: #60a0e4;
    border: 1px solid #29507b;
}